@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>

 div.ex {
    margin-top: 20px;
    margin-right: 200px;
    margin-left: 200px;
}
</style>
<div class="ex">
<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 14 (filtered)">
<style>

</style>

</head>

<body lang=EN-US link=blue vlink=purple>

<div class=WordSection1>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:24.0pt;
font-family:"Times New Roman","serif"'>Farhan Talib</span></b></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:13.5pt;
font-family:"Times New Roman","serif"'>Web Designer | cfarhan033@gmail.com</span></b></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:10.0pt;
font-family:"Times New Roman","serif"'>ABOUT</span></b></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>I'm web designer &amp; front-end
developer with 7 month of professional experience. I'm interested in all kinds
of visual communication, but my major focus is on designing web, mobile &amp;
tablet interfaces. I also have skills in other fields like branding, icon
design or web development. </span></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:10.0pt;
font-family:"Times New Roman","serif"'>EDUCATION</span></b></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>Matric<br>
2008---2010 MOON PUBLIC SCHOOL</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>INTERMEDIATE<br>
2012---2014 ISLAMIA CLG RAILWAY ROAD</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>BACHELOUR<br>
2014---2017 NCBA&amp;E</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

<div class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
text-align:center;line-height:normal'><span style='font-size:12.0pt;font-family:
"Times New Roman","serif"'>

<hr size=2 width="100%" align=center>

</span></div>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:10.0pt;
font-family:"Times New Roman","serif"'>EXPERIENCE</span></b></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>C++</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>IN C++ i will make a HOSPITAL MANAGEMENT
SYSTEM in which I can cover all the important aspect of HOSPITAL MANAGEMENT
SYSTEM.</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>C#</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>In c# I have done a game project as my
course final project I have done this project completely by own effort.</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>HTML, CSS and JS</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>I have also learned and work on css, html
and java script which is web based languages and also perform different work
using these languages.</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

<div class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
text-align:center;line-height:normal'><span style='font-size:12.0pt;font-family:
"Times New Roman","serif"'>

<hr size=2 width="100%" align=center>

</span></div>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:10.0pt;
font-family:"Times New Roman","serif"'>SKILLS</span></b></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>Ability to analyze, design, and develop
client/server side Software Expertise with C# and .NET Framework 4.5, C++,
Java. Good at Debugging errors Good at understanding new technologies, and
learn them easily Good analytical power and comprehensive problem solving
abilities Energetic and enthusiastic even in difficult situations have positive
attitude and optimistic style of thinking Good at Debugging errors</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>Javascript                                Bootstrap                                Wordpress</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>HTML/CSS                             Photoshop                               Illustrator</span></p>

<h5>CONTACT</h5>

<p><t>Email</t><br>
cfarhan033@gmail.com </p>

<p><t>Adress</t><br>
IZMIR TOWN <br>
Postal 54000 <br>
Lahore, Pakistan. </p>

<p>Phone</t><br>
03424339179</p>

</div>

</body>

</html>

    </div>