@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>

 div.ex {
    margin-top: 20px;
    margin-right: 200px;
    margin-left: 200px;
}
</style>
<div class="ex">
<h1><font color="white">Welcome to my website</font></h1></br>
<p>I'm web designer & front-end developer with 7 month of professional experience. I'm interested in all kinds of visual communication, but my major focus is on designing web, mobile & tablet interfaces. I also have skills in other fields like branding, icon design or web development.</p>
</div>